header{
    position: fixed;
    display: flex;
    background-color: white;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    
}

.logo-design{
    height: 35px;
    width: auto;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
   
}


ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 800PX;
}

ul li{
    list-style: none;
    margin-left: 15px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: rgb(8, 8, 94);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(132, 93, 21);
}

.image-container {
    position: relative;
    text-align: center;
}

.image-container img {
    filter: blur(2px);
    width: fit-content;

    
}

.overlay-text {
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}


.welcome-title{
    text-align: center;
    padding: 20px;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(8, 8, 94);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2em;
    display: block;
    margin-top: 0;

}

.info-area{
    align-content: center;  
}

.textbox{
    display: flex;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: lighter;
    color: gray;
    line-height: 1.7em;   

}

.GetToKnowUs-title{
    text-align: center;
    padding: 20px;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(8, 8, 94);
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2em;
    display: block;
    margin-top: 0;

}

h2{
    color:  rgb(8, 8, 94);
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-pic {
    flex: 1;
    
}

img {
    width: 600px; 
    height: 400px;
    margin-right: 20px;
    margin-top: 35px;
}

.text-portion{
    flex: 1;
    padding: 20px; 
}

p {
    margin: 0;
    font-size: 20px;
}

.image-design{
    width: 400px;
    height: 410px;
    /* float: left; */
    border: 3px solid #fff;
    border-radius: 10px;
    margin-right: 35px;
    

}
.description{
  display: inline;
}

body{
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
    

}

.wrapper{
    margin: 15px auto;
    width: 70%;
    display: block;
}

.text-box{
   color: #fff; 
}

.text-box h2{
    font-size: 42;
}

.text-box p{
    font-size: 16px;
}
.a-design{
    color: #fff;
}

.i-design{
    width: 500px;
    height: 410px;
    float: left;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-right: 35px;
    
}

