header{
    position: fixed;
    display: block;
    background-color: white;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    
}

.logo-design{
    height: 45px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
   
}


ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 15px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: rgb(8, 8, 94);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(132, 93, 21);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.registration-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    border: 1px solid #ddd;
    margin:  50px auto; 
}

form {
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 600px) {
    .registration-container {
        max-width: 100%;
    }
}

label {
    margin-top: 10px;
}

input,
select {
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: rgb(8, 8, 94);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(46, 46, 168);
}


.checkbox-item {
    margin-bottom: 8px;
}